<header class="header">
    <h1 class="h1">BOOK A TUTOR
        <button class="navbar-brand btnLogout" style="float:right; margin: 20PX;">Logout</button>
    </h1>
    <p class="head-p">book your own private tutor | subject-specific online tutoring | search and book online</p>
    <hr>
</header>
{{!-- the calander --}}
<div class="container">
        <div id='calendarDiv'></div>
</div>

<!-- Make a BOOKING Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="booking_modal">Make a Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Subject</label>
                        <select class="form-control" id="subjectDropdown">
                            {{#each subject}}
                            <option>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tutor</label>
                        <select class="form-control" id="tutorDropdown">
                            {{#each user}}
                            {{#if tutor}}
                            <option>
                                {{user.firstName}} {{user.lastName}}
                            </option>
                            {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Start Time</label>
                        <select class="form-control" id="startTime">
                            {{#each booking}}
                            <option>
                                {{startTime}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">End Time</label>
                        <select class="form-control" id="endTime">
                            {{#each booking}}
                            <option>
                                {{endTime}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        <p>Link to your online tutoring sessions with {{firstName}}{{lastName}} <a
                                href="{{videoLink}}"><small>www.bookatutorvideo.com/987654</small></a></p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Notes:</label>
                        <textarea class="form-control" id="topicInput" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>